@model IEnumerable<UserLoginApplication.Models.IdentityModel>

    @{
        ViewBag.Title = "Home Page";
    }
    <style>
        footer {
            position: fixed;
            bottom: 0px;
            width: 100%;
            padding: 20px;
            text-align: center;
        }
        textarea {
            margin-left:25px;
            resize: none;
        }
        h5 {
            margin-left: 20px;
        }
        p {
            margin-left: 20px;
        }
    </style>
    <main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">Welcome @Session["Username"].ToString().ToUpper()</h1>
        </section>
        <hr />
        <section class="row" aria-labelledby="aspnetBody">
            <div class="m-4">
                <table class="table table-striped">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </section>
        <div class="row">
            <h5>User Token:</h5>
            <textarea class="col-md-6 form-control" rows="5" disabled>
                @TempData["AuthKey"]
            </textarea>
            <p><em>Token expires on : @TempData["KeyExpiration"] UTC</em></p>
        </div>
    </main>

